<div class="row pt-5">
  <div class="col-6 offset-3">
    <h4>投稿一覧</h4>
    
    <% @books.each do |book| %>
      <div class="row border-bottom mt-5 mb-3">
      
        <%= book.title %>　｜
        <% book.genres.each do |genre| %>
       
            <%= genre.name %>
          　 <i class="fa-solid fa-heart-crack" style="color: blue;"></i>
                  <%= genre.dislikes.count %>
          
          　
        <% end %>
        <%= link_to "　削除　", book_path(book.id), method: :delete, class: "btn btn-danger ml-auto mr-3 mb-2" %>
        
      </div>
    <% end %>
  </div>
</div>