<div class="row pt-5">
  <div class="col-3 pt-5">
    <%= render 'public/searches/search_bar' %>
  </div>
  
  <div class="col-6">
    <div class="row">
     <h5>"あのジャンルの本が読みたいけど、なかなか見つからない..."</h5>
     <h5>"次に読む本何にしよう..."</h5>　そんな悩み、ございませんか？
    </div>
    Honde、Donaiyanen。はそんな悩みを持つ方へ向けて作成されたサイトです。<br>
    ユーザーが作成したジャンルを本につけるという仕組みをとっているため、<br>
   
    その本を読んだあなたがミステリと感じたのであればミステリジャンル、<br>
    恋愛ものと感じたのであれば恋愛もののジャンルをつける、etc... <br>
   
    つまり、このサイトを利用することで。"物語の本筋ではないジャンル"、<br>
    "マイナーで検索が難しいジャンル"といった本を探すことが容易になるのです。<br>
   
    本につけられたジャンルが適しているかを評価する機能もございます。<br>
    適さない評価が多く集まったものは管理人がチェック・削除いたします。
    <div class="row mt-2 mb-1">
      <h5><u>使い方　--　ジャンルから本を探す</u></h5>
    </div>
    本ページ左部のフォームにジャンル名を入力していただくと、そのジャンルを持つ本が検索されます。<br>
    上部のジャンル一覧ページからジャンル名をクリックしていただくことでそのジャンルがつけられた本が表示されます。
   
    <div class="row mt-2">
      <h5><u>使い方　--　本を投稿する</u></h5>
    </div>
    ログイン後、ヘッダーの"投稿する"ボタンを押していただき、フォームにしたがって入力してください。<br>
    また、ヘッダーのユーザー名ページには自身の投稿一覧があるので、そこから投稿詳細の確認を行うことが出来ます。
    ジャンルは自由に追加可能です。
   
  </div>
</div>