<div class="col-6 offset-3 pt-5">


  <div class="row">
    <h2>ようこそ、Honma、Donaiyanen。へ</h2>
  </div>

  <div class="bigmargintop">
    <div class="row mb-5">
      <%= link_to home_about_path, class: "btn" do %>
        <h5><u>Honde、Donaiyanen。とは</u>
        <i class="fa-solid fa-square-up-right" style="color: skyblue;"></i></h5>
      <% end %>
    </div>


    <div class="row margintop">
      <%= link_to users_guest_sign_in_path, method: :post, class: "btn" do %>
        <h5><u>ゲストログイン(閲覧用)</u>
        <i class="fa-solid fa-square-up-right" style="color: skyblue;"></i></h5>
      <% end %>
    </div>
  </div>


</div>



