<div class="col-9 offset-3 pt-5">
  
  <div class="row border-bottom mt-3 mb-5">
    <div class="col-6">
      <h5>ユーザー管理　　––––→</h5>
    </div>
    <div class="col-6">
        <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-primary mb-2" %>
    </div>
  </div>
  
  <div class="row border-bottom mb-5">
    <div class="col-6">
      <h5>投稿管理　　　　––––→</h5>
    </div>
    <div class="col-6">
      <%= link_to "　投稿一覧　", admin_books_path, class: "btn btn-primary mb-2" %>
    </div>
  </div>
  
  <div class="row border-bottom">
    <div class="col-6">
      <h5>ジャンル管理　　––––→</h5>
    </div>
    <div class="col-6">
      <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-primary mb-2" %>
    </div>
  </div>
    
</div>
