<div class="container">
  <div class="row">
    <% genres.each do |genre| %>
      <div class="col-3 mb-4">

        <%= link_to genre.name, books_genre_search_path(word: genre.name), class: "btn btn-light mx-auto" %>

      </div>
    <% end %>
  </div>
</div>
