@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body {
  font-family: 'Zen Antique', serif;
}

.bg01 {
  background-image: url(../images/bg01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bigmargintop {
  margin-top: 150px;
}

.margintop {
  margin-top: 75px;
}