@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body {
  font-family: 'Zen Antique', serif;
}

.bg01 {
  background-image: url(../images/bg01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bgcolor {
  background-color: #7a6357;
}

.fontcolor {
  color: #dbd5d1;
}

.bigmargintop {
  margin-top: 150px;
}

.margintop {
  margin-top: 75px;
}

.ptop {
  padding-top: 75px;
}

.flashm {
  text-align:  center; 
  font-size: 16px;
  color: green;
}

.errorm {
  text-align: center;
  font-size: 16px;
  color: red;
}

.ftcolor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #7a6357;
}