<div class="row pt-5">
  <div class="col-6 offset-3">
    <h4>ユーザー一覧</h4>

    <table class="table table-hover mt-5">
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= link_to admin_user_path(user.id) do %><%= user.name %><% end %></td>
          </tr>
        </tbody>
      <% end %>
    </table>





  </div>
</div>