<div class="row pt-5">
  <div class="col-6 offset-3">
    <div class="row mb-5">

      <div class="align-self-center">
        <h4>ユーザー：　<%= @user.name %></h4>
      </div>

      <%# ユーザーのアカウントを削除する %>
      <div class="col-4 ml-auto">
        <%= link_to "アカウント削除", user_path(@user.id), class: "btn btn-danger mb-2" %>
      </div>
    </div>

    <div class="ml-3 mb-5">
      <h5>投稿一覧</h5>
    </div>

    <% @user.books.each do |book| %>
      <div class="row border-bottom mb-4">
        <div class="col-6">
          <%= book.title %>
        </div>

        <div class="col-4">
          <%= link_to "投稿削除", book_path(book.id), method: :delete, class: "btn btn-primary mb-2" %>
        </div>

      </div>
    <% end %>


  </div>
</div>