<%# 以下の.nested-fieldsは、必須です。 %>
<div class="nested-fields mb-2">
    <%# link_to_add_associationのform_nameで指定した名前。(初期値 : f)  %>

    <%= genre.text_field :name, size: 50 %>
    <%= link_to_remove_association "－", genre, class: "btn btn-info rounded-circle p-0 mb-1", style: "width:25px;height:25px;" %>
</div>