
<div class="row my-3">
  <h4>投稿一覧</h4>
</div>

<div>
  <% @books.each do |book| %>

    <%= book.title %>
    <%= book.explanation %>
    <% book.genres.each do |genre| %>

      <%= genre.name %>

    <% end %>

  <% end %>
</div>